<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Opção</title>
</head>
<body>
    <h1>Selecione uma Opção</h1>
    <form method="POST">
        <label>
            <input type="radio" name="opcao" value="Opção 1"> Opção 1
        </label><br>
        <label>
            <input type="radio" name="opcao" value="Opção 2"> Opção 2
        </label><br>
        <label>
            <input type="radio" name="opcao" value="Opção 3"> Opção 3
        </label><br>
        <label>
            <input type="radio" name="opcao" value="Opção 4"> Opção 4
        </label><br><br>
        <button type="submit">Salvar Seleção</button>
    </form>

    <br><br>
    <a href="/">Voltar</a>
</body>
</html>
